In [19]:
students=['hari','rohan','alok','ashu','ansh']    #using list in python

In [21]:
type(students[3])     #to check datatype

str

In [22]:
type(students)

list

In [23]:
print(students)

['hari', 'rohan', 'alok', 'ashu', 'ansh']

In [24]:
print(students.title)

AttributeError: 'list' object has no attribute 'title'

In [31]:
print(students[0].title())

Hari

In [111]:
students.append('pranay')    # append method used to add at the last in the list

In [113]:
print(students)

['hari', 'rohan', 'jayant', 'jayant', 'jayant', 'ashu', 'ansh', 'adi', 'praveen', 'sunny', 'pranay', 'pranay', 'pranay']

In [115]:
students.insert(2,'jayant')     # insert method used to insert the in the at desire position

In [116]:
print(students)

['hari', 'rohan', 'jayant', 'jayant', 'jayant', 'jayant', 'jayant', 'ashu', 'ansh', 'adi', 'praveen', 'sunny', 'pranay', 'pranay', 'pranay']

In [117]:
students[7]='adi'    # modify the list to used to index number
students[9]='sunny'
students[8]='praveen'

In [118]:
print(students)

['hari', 'rohan', 'jayant', 'jayant', 'jayant', 'jayant', 'jayant', 'adi', 'praveen', 'sunny', 'praveen', 'sunny', 'pranay', 'pranay', 'pranay']

In [120]:
students[2]='aditya'
students[3]='Viyan'
students[4]='shalu'

In [122]:
print(students)

['hari', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'jayant', 'adi', 'praveen', 'sunny', 'praveen', 'sunny', 'pranay', 'pranay', 'pranay']

In [123]:
print(students)

['hari', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'jayant', 'adi', 'praveen', 'sunny', 'praveen', 'sunny', 'pranay', 'pranay', 'pranay']

In [125]:
x=students.pop(14)    # pop method used to delete an item as temporary

In [126]:
print(x)

pranay

In [127]:
y=students.pop(10)

In [128]:
print(y)

praveen

In [132]:
print(students)

['hari', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'jayant', 'adi', 'praveen', 'sunny', 'sunny', 'pranay', 'pranay']

In [133]:
del.students[10]

SyntaxError: invalid syntax (3785932423.py, line 1)

In [135]:
students.remove('pranay')  # remove method used to remove an item from the list but it is exitence in the list

In [136]:
print(students)

['hari', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'jayant', 'adi', 'praveen', 'sunny', 'sunny', 'pranay']

In [138]:
students.remove[12]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [139]:
students.remove(12)

ValueError: list.remove(x): x not in list

In [142]:
students.remove('11')       # remove method used for only through item of the list and not through the index number

ValueError: list.remove(x): x not in list

In [143]:
print('Javed' in students)     # in function to check the value is it in the list

False

In [144]:
print('hari' in students)

True

In [146]:
del students[5]     ## del method  used to delete the value of list for permanently

In [147]:
print(students)

['hari', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'adi', 'praveen', 'sunny', 'sunny', 'pranay']

In [148]:
del students[9]    # del method  used to delete the value of list for permanently

In [149]:
print(students)

['hari', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'adi', 'praveen', 'sunny', 'pranay']

In [152]:
print("javed" in students)

False

In [154]:
students.remove('pranay')

In [155]:
print(students)

['hari', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'adi', 'praveen', 'sunny']

In [156]:
print("pranay" in students)

False

In [157]:
print('pranay')

pranay

In [158]:
print('pranay' in students)

False

In [159]:
print('praveen' in students)

True

In [160]:
print(y)

praveen

In [161]:
z=students.pop(8)

In [162]:
print(z)

sunny

In [163]:
print('z' in students)

False

In [164]:
print('sunny' in students)

False

In [165]:
students.insert(z)

TypeError: insert expected 2 arguments, got 1

In [166]:
students.insert('z')

TypeError: insert expected 2 arguments, got 1

In [167]:
students[0]=harry

NameError: name 'harry' is not defined

In [170]:
students[0]='harry'      # modify the the list used to index number

In [171]:
print(students)

['harry', 'rohan', 'aditya', 'Viyan', 'shalu', 'jayant', 'adi', 'praveen']